<a href="https://colab.research.google.com/github/Psousace/Python/blob/main/Dados_B3V3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install selenium
!pip install workadays

Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.9/site-packages (4.8.2)
Requirement already satisfied: certifi>=2021.10.8 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in /opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Requirement already satisfied: sortedcontainers in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in /opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: workadays in /opt/anaconda3/lib/python3.9/site-packages (2022.8.8)
Requirement already satisfied: python-dateutil>=2.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from workadays) (2.8.2)
Requirement already satisfied: six>=1.11.0 in /opt/anaconda3/lib/python3.9/site-packages (from workadays) (1.16.0)

In [ ]:
import requests as rq
import pandas as pd
from pyettj import ettj
from bs4 import BeautifulSoup as bs


from selenium import webdriver
from selenium.webdriver.common.by import By
import numpy as np

pyettj 0.2.4

In [ ]:
Mercadorias:
-DOLAR
-DI
-FRA CUPOM (FRC)
-BOVESPA
-MILHO
-OURO

In [ ]:
#DOLAR
#acessa o site da B3 para capturar as informações de futuro de dolar na data especificada
navegador=webdriver.Chrome()
data="02/02/2023"
URL_DOL="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=DOL"
navegador.get(URL_DOL)
#captura a coluna de vencimento
vencimento=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento=vencimento.split()
#remove o cabecalho
vencimento=vencimento[1:]

tabela_vencimento=pd.DataFrame(vencimento, columns=["VENCTO"])
#captura o numero de vencimentos negociados
n_linhas=tabela_vencimento.shape[0]


#captura os dados do dolar futuro
dados=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados=dados.split()
#remove o cabeçalho
dados=dados[19:]
#separa em array
dados_separado=np.array_split(dados,n_linhas)

tabela_dados=pd.DataFrame(dados_separado, columns=["PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])


df_dol=pd.merge(tabela_vencimento,tabela_dados, left_index=True, right_index=True, how="inner")
df_dol

   VENCTO PREÇO ABERT. PREÇO MÍN. PREÇO MÁX. PREÇO MÉD. ÚLT. PREÇO      AJUSTE VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0     H23    5.050,000  4.963,500  5.078,500  5.026,117  5.072,500  5.056,5720   55,9780-       5.072,000      5.075,000
1     J23    5.100,000  5.100,000  5.100,000  5.100,000  5.100,000  5.089,7880   56,2730-       5.085,000          0,000
2     K23        0,000      0,000      0,000      0,000      0,000  5.112,6420   56,7030-           0,000          0,000
3     M23        0,000      0,000      0,000      0,000      0,000  5.145,3630   57,0750-           0,000          0,000
4     N23        0,000      0,000      0,000      0,000      0,000  5.175,7530   57,3620-           0,000          0,000
5     Q23        0,000      0,000      0,000      0,000      0,000  5.205,5720   57,1850-           0,000          0,000
6     U23        0,000      0,000      0,000      0,000      0,000  5.240,5020   57,0370-           0,000          0,000
7     V23        0,000      0,000      0,000      0,000      0,000  5.267,3510   57,3430-           0,000          0,000
8     X23        0,000      0,000      0,000      0,000      0,000  5.297,4430   56,6620-           0,000          0,000
9     Z23        0,000      0,000      0,000      0,000      0,000  5.324,4890   56,0030-           0,000          0,000
10    F24        0,000      0,000      0,000      0,000      0,000  5.349,5000   55,6320-           0,000          0,000
11    G24        0,000      0,000      0,000      0,000      0,000  5.384,0880   53,5680-           0,000          0,000
12    J24        0,000      0,000      0,000      0,000      0,000  5.440,7330   52,4590-           0,000          0,000
13    N24        0,000      0,000      0,000      0,000      0,000  5.536,3270   48,5710-           0,000          0,000
14    V24        0,000      0,000      0,000      0,000      0,000  5.639,5610   47,0310-           0,000          0,000
15    F25        0,000      0,000      0,000      0,000      0,000  5.741,3820   45,0760-           0,000          0,000
16    J25        0,000      0,000      0,000      0,000      0,000  5.847,1500   49,4970-           0,000          0,000
17    N25        0,000      0,000      0,000      0,000      0,000  5.958,4530   49,8550-           0,000          0,000
18    V25        0,000      0,000      0,000      0,000      0,000  6.089,5540   53,7350-           0,000          0,000
19    F26        0,000      0,000      0,000      0,000      0,000  6.220,4330   53,0710-           0,000          0,000

In [ ]:
#Acessa a pagina da B3 para capturar os Dados do DI
data="02/02/2023"
URL_DI="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=DI1"
navegador=webdriver.Chrome()
navegador.get(URL_DI)

#captura a coluna de vencimento
vencimento_di=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento_di=vencimento_di.split()
#remove o cabecalho
vencimento_di=vencimento_di[1:]

tabela_vencimento_di=pd.DataFrame(vencimento_di, columns=["VENCTO"])

n_linhas=tabela_vencimento_di.shape[0]

#captura os dados do DI futuro
dados_di=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados_di=dados_di.split()
#remove o cabeçalho
dados_di=dados_di[26:]
#separa em array
dados_separado_di=np.array_split(dados_di,n_linhas)
dados_separado_di[0]
tabela_dados_di=pd.DataFrame(dados_separado_di, columns=["AJUSTE ANTER.","AJUSTE ANTER. CORRIG.","PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])



df_di=pd.merge(tabela_vencimento_di,tabela_dados_di, left_index=True, right_index=True, how="inner")
df_di

   VENCTO AJUSTE ANTER. AJUSTE ANTER. CORRIG. PREÇO ABERT. PREÇO MÍN.  ... ÚLT. PREÇO     AJUSTE VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0     H23     99.140,53             99.140,53       13,650     13,650  ...     13,654  99.140,42      0,11-          13,650         13,654
1     J23     97.987,37             97.987,37       13,668     13,660  ...     13,664  97.987,84      0,47+          13,662         13,664
2     K23     97.091,38             97.091,38       13,688     13,670  ...     13,678  97.093,26      1,88+          13,670         13,678
3     M23     96.002,28             96.002,28       13,715     13,690  ...     13,705  96.006,51      4,23+          13,690         13,710
4     N23     94.975,27             94.975,27       13,740     13,710  ...     13,720  94.979,55      4,28+          13,720         13,725
5     Q23     93.959,10             93.959,10       13,745     13,725  ...     13,735  93.958,58      0,52-          13,735         13,745
6     U23     92.868,48             92.868,48       13,760     13,720  ...     13,750  92.865,43      3,05-          13,715         13,775
7     V23     91.934,67             91.934,67       13,725     13,690  ...     13,735  91.928,50      6,17-          13,735         13,745
8     X23     90.965,50             90.965,50       13,760     13,690  ...     13,735  90.955,58      9,92-          13,725         13,740
9     Z23     90.068,10             90.068,10       13,710     13,665  ...     13,695  90.045,45     22,65-          13,710         13,740
10    F24     89.202,56             89.202,56       13,720     13,565  ...     13,690  89.164,37     38,19-          13,685         13,690
11    G24     88.264,25             88.264,25       13,610     13,535  ...     13,660  88.204,99     59,26-          13,640          0,000
12    J24     86.625,08             86.625,08       13,560     13,430  ...     13,605  86.538,42     86,66-          13,600         13,620
13    N24     84.140,75             84.140,75       13,440     13,230  ...     13,430  84.023,08    117,67-          13,425         13,430
14    V24     81.683,43             81.683,43       13,180     13,020  ...     13,225  81.560,16    123,27-          13,205         13,235
15    F25     79.387,49             79.387,49       13,100     12,835  ...     13,065  79.268,97    118,52-          13,060         13,065
16    J25     77.155,46             77.155,46       13,020     12,775  ...     12,990  77.072,61     82,85-          12,980         13,005
17    N25     74.963,46             74.963,46       12,990     12,730  ...     12,945  74.921,62     41,84-          12,935         12,950
18    V25     72.597,74             72.597,74       12,975     12,720  ...     12,930  72.619,56     21,82+           0,000          0,000
19    F26     70.364,77             70.364,77       12,930     12,700  ...     12,910  70.419,05     54,28+          12,895         12,905
20    J26     68.315,25             68.315,25       12,965     12,760  ...     12,875  68.397,35     82,10+           0,000          0,000
21    N26     66.288,38             66.288,38       12,975     12,715  ...     12,920  66.404,29    115,91+          12,900         12,915
22    V26     64.219,18             64.219,18       12,870     12,755  ...     12,890  64.356,82    137,64+           0,000          0,000
23    F27     62.287,81             62.287,81       13,025     12,710  ...     12,905  62.450,01    162,20+          12,900         12,905
24    J27     60.473,68             60.473,68       12,890     12,765  ...     12,785  60.663,14    189,46+           0,000          0,000
25    N27     58.625,23             58.625,23       12,900     12,775  ...     12,925  58.829,26    204,03+           0,000          0,000
26    V27     56.776,44             56.776,44       12,850     12,820  ...     12,925  56.990,43    213,99+           0,000          0,000
27    F28     55.047,11             55.047,11       13,000     12,780  ...     12,950  55.270,64    223,53+          12,935         12,970
28    F29     48.525,85             48.525,85       13,070     12,900  ...     13,070  48.773,11    247,26+          13,060         13,070
29    F30     42.831,73             42.831,73       13,040     12,950  ...     13,130  43.097,47    265,74+          12,760          0,000
30    F31     37.736,80             37.736,80       13,170     12,990  ...     13,160  38.023,85    287,05+          13,150         13,160
31    F32     33.364,99             33.364,99       13,110     12,980  ...     13,150  33.653,99    289,00+           0,000          0,000
32    F33     29.405,06             29.405,06       13,180     12,990  ...     13,170  29.701,55    296,49+          13,150         13,180
33    F34     26.048,16             26.048,16        0,000      0,000  ...      0,000  26.337,50    289,34+           0,000          0,000
34    F35     23.038,27             23.038,27        0,000      0,000  ...      0,000  23.317,58    279,31+           0,000          0,000
35    F36     20.290,12             20.290,12        0,000      0,000  ...      0,000  20.556,76    266,64+           0,000         14,510
36    F37     17.883,94             17.883,94        0,000      0,000  ...      0,000  18.137,52    253,58+           0,000          0,000
37    F38     15.812,15             15.812,15        0,000      0,000  ...      0,000  16.052,52    240,37+           0,000          0,000

[38 rows x 12 columns]

In [ ]:
#Acessa a pagina da B3 para capturar os Dados do FRC
data="02/02/2023"
URL_FRC="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=FRC"
navegador=webdriver.Chrome()
navegador.get(URL_FRC)

#captura a coluna de vencimento
vencimento_frc=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento_frc=vencimento_frc.split()
#remove o cabecalho
vencimento_frc=vencimento_frc[1:]

tabela_vencimento_frc=pd.DataFrame(vencimento_frc, columns=["VENCTO"])
#captura o numero de vencimentos negociados
n_linhas=tabela_vencimento_frc.shape[0]

#captura os dados do FRC futuro
dados_frc=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados_frc=dados_frc.split()
#remove o cabeçalho
dados_frc=dados_frc[20:]



#separa em array
dados_separado_frc=np.array_split(dados_frc,n_linhas)
dados_separado_frc[0]


tabela_dados_frc=pd.DataFrame(dados_separado_frc, columns=["PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])



df_frc=pd.merge(tabela_vencimento_frc,tabela_dados_frc, left_index=True, right_index=True, how="inner")
df_frc

   VENCTO PREÇO ABERT. PREÇO MÍN. PREÇO MÁX. PREÇO MÉD. ÚLT. PREÇO AJUSTE VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0     J23         5,66       5,63       5,66       5,64       5,63   5,63      0,02-            5,63           5,66
1     K23         5,74       5,74       5,74       5,74       5,74   5,74       0,00            0,00           0,00
2     M23         5,79       5,79       5,81       5,79       5,80   5,80      0,01-            5,79           5,81
3     N23         5,73       5,73       5,74       5,73       5,74   5,74      0,01-            0,00           0,00
4     Q23         5,87       5,87       5,87       5,87       5,87   5,87      0,02-            5,87           0,00
5     U23         5,89       5,89       5,89       5,89       5,89   5,89      0,03-            5,88           5,89
6     V23         5,90       5,90       5,91       5,90       5,91   5,91      0,02-            0,00           5,91
7     X23         5,94       5,94       5,95       5,94       5,94   5,94      0,04-            0,00           5,96
8     Z23         5,95       5,95       5,97       5,96       5,97   5,97      0,04-            5,97           5,99
9     F24         6,00       5,93       6,00       5,97       5,98   5,98      0,03-            5,97           5,98
10    G24         5,93       5,93       5,94       5,93       5,94   5,94      0,05-            0,00           0,00
11    J24         5,87       5,87       5,87       5,87       5,87   5,87      0,04-            5,85           0,00
12    N24         5,73       5,73       5,73       5,73       5,73   5,73      0,07-            5,71           5,75
13    V24         0,00       0,00       0,00       0,00       0,00   5,58      0,08-            5,57           0,00
14    F25         5,43       5,43       5,45       5,43       5,43   5,43      0,10-            0,00           0,00
15    J25         5,31       5,31       5,31       5,31       5,31   5,31      0,08-            0,00           0,00
16    N25         0,00       0,00       0,00       0,00       0,00   5,19      0,10-            5,16           0,00
17    V25         5,16       5,16       5,16       5,16       5,16   5,09      0,11-            0,00           5,09
18    F26         5,01       5,00       5,01       5,00       5,00   5,01      0,13-            0,00           0,00
19    J26         4,95       4,95       4,95       4,95       4,95   4,95      0,12-            0,00           0,00
20    N26         4,90       4,90       4,90       4,90       4,90   4,90      0,14-            4,90           0,00
21    V26         0,00       0,00       0,00       0,00       0,00   4,85      0,14-            0,00           0,00
22    F27         4,87       4,87       4,90       4,87       4,90   4,87      0,13-            0,00           0,00
23    J27         0,00       0,00       0,00       0,00       0,00   4,87      0,13-            0,00           0,00
24    N27         0,00       0,00       0,00       0,00       0,00   4,87      0,13-            0,00           0,00
25    V27         0,00       0,00       0,00       0,00       0,00   4,87      0,13-            0,00           4,87
26    F28         4,85       4,85       4,85       4,85       4,85   4,85      0,13-            0,00           0,00
27    F29         4,91       4,91       4,91       4,91       4,91   4,91      0,14-            0,00           0,00
28    F30         4,99       4,99       4,99       4,99       4,99   4,99      0,15-            0,00           0,00
29    F31         5,12       5,10       5,12       5,11       5,10   5,12      0,16-            0,00           0,00
30    F32         0,00       0,00       0,00       0,00       0,00   5,24      0,16-            0,00           0,00
31    F33         0,00       0,00       0,00       0,00       0,00   5,38      0,16-            5,38           0,00
32    F34         0,00       0,00       0,00       0,00       0,00   5,58      0,16-            0,00           0,00
33    F35         0,00       0,00       0,00       0,00       0,00   5,78      0,16-            0,00           0,00
34    F36         0,00       0,00       0,00       0,00       0,00   5,97      0,16-            0,00           0,00
35    F37         0,00       0,00       0,00       0,00       0,00   6,11      0,16-            0,00           0,00
36    F38         0,00       0,00       0,00       0,00       0,00   6,15      0,16-            0,00           0,00

In [ ]:
#IBOVESPA
#acessa o site da B3 para capturar as informações de futuro do indice ibovespa na data especificada
navegador=webdriver.Chrome()
data="02/02/2023"
URL_IBOV="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=IND"
navegador.get(URL_IBOV)
#captura a coluna de vencimento
vencimento=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento=vencimento.split()
#remove o cabecalho
vencimento=vencimento[1:]
tabela_vencimento=pd.DataFrame(vencimento, columns=["VENCTO"])
#captura o numero de vencimentos negociados
n_linhas=tabela_vencimento.shape[0]
#captura os dados do dolar futuro
dados=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados=dados.split()
#remove o cabeçalho
dados=dados[20:]
#separa em n arrays
dados_separado=np.array_split(dados,n_linhas)

tabela_dados=pd.DataFrame(dados_separado, columns=["PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE","OSCIL.", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])


df_ibov=pd.merge(tabela_vencimento,tabela_dados, left_index=True, right_index=True, how="inner")
df_ibov

   VENCTO PREÇO ABERT. PREÇO MÍN. PREÇO MÁX. PREÇO MÉD.  ...   AJUSTE OSCIL. VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0     G23      112.195    110.110    113.440    111.756  ...  110.431   1,8-     2.072-         110.300        110.400
1     J23            0          0          0          0  ...  112.283    0,0     2.060-         104.125        114.320
2     M23            0          0          0          0  ...  114.435    0,0     2.048-               0              0
3     Q23            0          0          0          0  ...  116.793    0,0     2.023-               0              0
4     V23            0          0          0          0  ...  119.067    0,0     1.994-               0              0
5     Z23            0          0          0          0  ...  121.085    0,0     1.947-               0              0
6     G24            0          0          0          0  ...  123.251    0,0     1.871-               0              0
7     J24            0          0          0          0  ...  125.573    0,0     1.799-               0              0
8     M24            0          0          0          0  ...  127.540    0,0     1.742-               0              0
9     Q24            0          0          0          0  ...  129.839    0,0     1.686-               0              0
10    V24            0          0          0          0  ...  132.138    0,0     1.642-               0              0
11    Z24            0          0          0          0  ...  134.403    0,0     1.603-               0              0

[12 rows x 11 columns]

In [ ]:
#MILHO
#acessa o site da B3 para capturar as informações de futuro do Milho na data especificada
navegador=webdriver.Chrome()
data="02/02/2023"
URL_MILHO="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=CCM"
navegador.get(URL_MILHO)
#captura a coluna de vencimento
vencimento=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento=vencimento.split()
#remove o cabecalho
vencimento=vencimento[1:]
tabela_vencimento=pd.DataFrame(vencimento, columns=["VENCTO"])
#captura o numero de vencimentos negociados
n_linhas=tabela_vencimento.shape[0]
#captura os dados do dolar futuro
dados=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados=dados.split()
#remove o cabeçalho
dados=dados[20:]
#separa em n arrays
dados_separado=np.array_split(dados,n_linhas)

tabela_dados=pd.DataFrame(dados_separado, columns=["PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])


df_milho=pd.merge(tabela_vencimento,tabela_dados, left_index=True, right_index=True, how="inner")
df_milho

  VENCTO PREÇO ABERT. PREÇO MÍN. PREÇO MÁX. PREÇO MÉD. ÚLT. PREÇO AJUSTE VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0    H23        88,63      90,05      89,05      88,84      88,98  0,58-      88,80           88,85          89,99
1    K23        88,81      90,38      89,26      89,15      89,28  0,49-      89,15           89,26          87,10
2    N23        86,54      87,10      86,76      86,63      86,00  0,96-      86,55           86,69          87,05
3    U23        86,50      87,14      86,57      86,52      86,53  0,24-      86,40           86,49          89,50
4    X23        89,07      89,50      89,23      89,07      88,43  0,66-      88,88           89,28           0,00
5    F24         0,00       0,00       0,00       0,00      91,20   0,00      91,16           92,00           0,00
6    H24         0,00       0,00       0,00       0,00      89,00  0,66+      89,00            0,00           0,00
7    U24         0,00       0,00       0,00       0,00      95,10  0,20-       0,00           95,00           None

In [ ]:
#OURO
#acessa o site da B3 para capturar as informações de futuro do Milho na data especificada
navegador=webdriver.Chrome()
data="02/02/2023"
URL_MILHO="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=OZ1"
navegador.get(URL_MILHO)
#captura a coluna de vencimento
vencimento=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento=vencimento.split()
#remove o cabecalho
vencimento=vencimento[1:]
tabela_vencimento=pd.DataFrame(vencimento, columns=["VENCTO"])
#captura o numero de vencimentos negociados
n_linhas=tabela_vencimento.shape[0]
#captura os dados do dolar futuro
dados=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados=dados.split()
#remove o cabeçalho
dados=dados[19:]
#separa em n arrays
dados_separado=np.array_split(dados,n_linhas)

tabela_dados=pd.DataFrame(dados_separado, columns=["PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])


df_ouro=pd.merge(tabela_vencimento,tabela_dados, left_index=True, right_index=True, how="inner")
df_ouro

  VENCTO PREÇO ABERT. PREÇO MÍN. PREÇO MÁX. PREÇO MÉD. ÚLT. PREÇO   AJUSTE VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0    H23        0,000      0,000      0,000      0,000      0,000  310,513     4,192-           0,000          0,000
1    J23        0,000      0,000      0,000      0,000      0,000  314,165     4,243-           0,000          0,000

In [ ]:
#BOI GORDO
#acessa o site da B3 para capturar as informações de futuro de boi gordo data especificada
navegador=webdriver.Chrome()
data="02/02/2023"
URL_BGI="https://www2.bmf.com.br/pages/portal/bmfbovespa/lumis/lum-sistema-pregao-ptBR.asp?Data="+data+"&Mercadoria=BGI"
navegador.get(URL_BGI)
#captura a coluna de vencimento
vencimento=navegador.find_element(By.ID, "MercadoFut0").text
#separa a string em uma lista
vencimento=vencimento.split()
#remove o cabecalho
vencimento=vencimento[1:]

tabela_vencimento=pd.DataFrame(vencimento, columns=["VENCTO"])
#captura o numero de vencimentos negociados
n_linhas=tabela_vencimento.shape[0]


#captura os dados do dolar futuro
dados=navegador.find_element(By.ID, "MercadoFut2").text
#separa a string em uma lista
dados=dados.split()
#remove o cabeçalho
dados=dados[19:]
#separa em array
dados_separado=np.array_split(dados,n_linhas)

tabela_dados=pd.DataFrame(dados_separado, columns=["PREÇO ABERT.","PREÇO MÍN.","PREÇO MÁX.","PREÇO MÉD.","ÚLT. PREÇO", "AJUSTE", "VAR. PTOS.", "ÚLT. OF. COMPRA", "ÚLT. OF. VENDA"])


df_BGI=pd.merge(tabela_vencimento,tabela_dados, left_index=True, right_index=True, how="inner")
df_BGI

  VENCTO PREÇO ABERT. PREÇO MÍN. PREÇO MÁX. PREÇO MÉD. ÚLT. PREÇO  AJUSTE VAR. PTOS. ÚLT. OF. COMPRA ÚLT. OF. VENDA
0    G23       297,00     296,30     299,85     298,94     299,30  299,05      2,00+          299,00         299,50
1    H23       297,35     297,00     299,80     299,09     299,55  298,95      2,00+          299,10         299,55
2    J23       294,95     293,20     295,60     294,22     294,40  293,95      0,55-          294,00         294,40
3    K23       293,05     292,10     295,75     293,91     293,95  293,70      0,85+          293,65         294,25
4    N23         0,00       0,00       0,00       0,00       0,00  301,00       0,00          290,00         302,00
5    V23       305,00     303,75     306,75     304,33     304,50  302,40       0,00          303,65         304,50
6    X23         0,00       0,00       0,00       0,00       0,00  297,60       0,00          295,00         313,00
7    Z23         0,00       0,00       0,00       0,00       0,00  297,70       0,00          295,00         313,00